<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-success nb-color-primary" [routerLink]="['/home']"><i class="fa-solid fa-house-medical"></i></a></li>
                    <li class="breadcrumb-item active">Listar Pacientes</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Lista pacientes</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a class="link-success nb-color-primary" [routerLink]="['/regpatient']">
                    <button class="btn"><i class="fa-solid fa-heart-circle-plus"></i> Añadir</button>
                </a>
            </div>
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-6">
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-search"></i></div>
                            <input type="text" placeholder="Buscar nombre" class="form-control" [(ngModel)]="nameFilter" (ngModelChange)="filter()">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-text" id="btnGroupAddon"><i class="bi bi-search"></i></div>
                            <input type="text" placeholder="Buscar apellido" class="form-control" [(ngModel)]="surnameFilter" (ngModelChange)="filter()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="border-radius:10px !important;">
            <table class="table table-bordered table-striped table-hover align-middle text-center">
                <thead>
                    <tr class="nb text-white text-uppercase align-middle">
                        <th scope="col">NÚMERO CLÍNICO</th>
                        <th scope="col">PACIENTE</th>
                        <th scope="col">NIF / NIE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">TELÉFONO</th>
                        <th scope="col">DIABÉTICA</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">MODIFICAR</th>
                        <th scope="col">ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of this.filteredPatients  | paginate: {itemsPerPage: ipp, currentPage: cp}; let i = index">
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.first_name }} {{ patient.last_name }} </td>
                        <td>{{ patient.dni }}</td>
                        <td>{{ patient.email }}</td>
                        <td>{{ patient.phone }}</td>
                        <td>
                            <span class="badge rounded-pill" [ngClass]="patient.diabetic ? 'bg-success' : 'bg-danger'">
                {{ patient.diabetic ? "Sí" : "No" }}
              </span>
                        </td>
                        <td>
                            <span class="badge rounded-pill" [ngClass]="patient.active ? 'bg-success' : 'bg-danger'">
                {{ patient.active ? "Activo" : "Inactivo" }}
              </span>
                        </td>
                        <td><button class=" btn" (click)="showFormModifyPatient(patient)"><i class="bi bi-pencil-fill"></i></button>
                        </td>
                        <td><button class="btn" (click)="confirmDeactivate(patient)"><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end custom-pagination">
                <pagination-controls (pageChange)="cp = $event" nextLabel="" previousLabel=""></pagination-controls>
            </div>
        </div>
    </div>
</div>
