<div id="titulo" class="p-5">
    <div class="text-white text-center">
        <h1 class="text-dark display-1"></h1>
    </div>
</div>
<br>
<br>
<div class="container">
    <table class="table table-hover table-borderless table-striped">
        <thead>
            <tr>
                <th id="colTitle">Número clínico</th>
                <th id="colTitle">Paciente</th>
                <th id="colTitle">NIF / NIE</th>
                <th id="colTitle">Email</th>
                <th id="colTitle">Teléfono</th>
                <th id="colTitle">Diabética</th>
                <th id="colTitle"><i class="bi bi-pencil-fill"></i></th>
                <th id="colTitle"><i class="bi bi-trash-fill"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of dataPatients">
                <a routerLink="/editpatient" [state]="{data:patient}"></a>
                <td>{{patient.num_clinical_log}}</td>
                <td>{{patient.first_name}} {{patient.last_name}} </td>
                <td>{{patient.dni}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.phone}}</td>
                <td *ngIf="patient.diabetic == 0">no</td>
                <td *ngIf="patient.diabetic == 1">sí</td>
                <td><button class=" btn" (click)="showFormModifyPatient(patient)"><i
            class="bi bi-pencil-fill"></i></button></td>
                <td><button class="btn" (click)="confirmDeactivate(patient)"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-edit-patient [user]="patientSelected" (eventShow)="getEventShow($event)" (modifiedUser)="getUserModified($event)"></app-edit-patient>