<div class="container">
    <h4>BUSCADOR</h4>
    <div class="row">
        <div class="col">
            <div class="form-group">
                Nombre: <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="nameFilter" (ngModelChange)="filter()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                Apellido: <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="surnameFilter" (ngModelChange)="filter()">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="">
    <table class="table table-hover table-borderless table-striped">
        <thead>
            <tr>
                <th id="colTitle">Número clínico</th>
                <th id="colTitle">Paciente</th>
                <th id="colTitle">NIF / NIE</th>
                <th id="colTitle">Email</th>
                <th id="colTitle">Teléfono</th>
                <th id="colTitle">Diabética</th>
                <th id="colTitle">Visitas</th>
                <th id="colTitle"><i class="bi bi-pencil-fill"></i></th>
                <th id="colTitle"><i class="bi bi-trash-fill"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of this.filteredPatients  | paginate: {itemsPerPage: ipp, currentPage: cp}; let i = index">
                <td>{{patient.num_clinical_log}}</td>
                <td>{{patient.first_name}} {{patient.last_name}} </td>
                <td>{{patient.dni}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.phone}}</td>
                <td *ngIf="patient.diabetic == 0">no</td>
                <td *ngIf="patient.diabetic == 1">sí</td>
                <td><button class=" btn" (click)="showpatientVisits(patient)"><i class="bi bi-eye-fill"></i></button></td>
                <td><button class=" btn" (click)="showFormModifyPatient(patient)"><i
            class="bi bi-pencil-fill"></i></button></td>
                <td><button class="btn" (click)="confirmDeactivate(patient)"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center ">
        <pagination-controls (pageChange)="cp=$event "></pagination-controls>
    </div>
</div>