<div class="container">
    <div style="width: 750px" class="mx-auto">
        <div class="d-flex justify-content-center mb-5">
            <img src="assets/images/logo-imprimir.jpg" height="130px" class="img-responsive">
        </div>
    
        <div class="row mt-5">
            <div class="col-xl-12">
                <ul class="list-unstyled float-start">
                    <li>ISABEL CHUMILLAS BLANCO</li>
                    <li>DNI. 43552899F Núm Col. 1255</li>
                    <li>C. CHAFARINAS 14-16 BAJOS LOCAL.</li>
                    <li>08033 BARCELONA</li>
                    <li>TELF. 93 353 41 42</li>
                </ul>
            </div>
        </div>
    
    
        <div class="row mt-5 mb-3" style="border:1pt solid black;">
            <ul class="list-unstyled float-start">
                <li>DATOS DEL PACIENTE: </li>
                <li>NOMBRE COMPLETO: </li>
                <li>DNI: </li>
                <li>DIRECCION: </li>
            </ul>
        </div>
    
        <div class="row mb-3" style="border:1pt solid black;">
            <div class="col-6">
                NUM DE FACTURA:
            </div>
            <div class="col-6" style="border-left:1pt solid black;">
                FECHA:
            </div>
        </div>
    
        <div class="row">
            <table class="table table-bordered border-dark">
                <thead>
                    <tr>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">TRATAMIENTO</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height:500px !important;"><i class="fas fa-dollar-sign"></i> 500,00</td>
                        <td>Iphone 11 PRO</td>
                        <td>Iphone 11 PRO</td>
                        <td>Iphone 11 PRO</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="col">FORMA DE PAGO</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>