<nav class="navbar navbar-expand-lg navbar-light bg-light pt-5 pb-4">
    <div class="container-fluid">
        <div class="container">
            <h2>LISTADO DE VISITAS</h2>
        </div>
    </div>
</nav>
<div class="">
    <table class="table table-hover table-borderless table-striped">
        <thead>
            <tr>
                <th id="colTitle">ID</th>
                <th id="colTitle">Paciente</th>
                <th id="colTitle">NIF / NIE</th>
                <th id="colTitle">Fecha de la visita</th>
                <th id="colTitle">Precio Total</th>
                <th id="colTitle">Facturado</th>
                <th id="colTitle" class="text-center">Adjuntos <i class="fa-solid fa-folder-open"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listVisits">
                <td>{{item.id}}</td>
                <td>{{item.first_name}} {{item.last_name}} </td>
                <td>{{item.dni}}</td>
                <td>{{item.visit_date}}</td>
                <td>{{item.total_price}}</td>
                <td>{{item.total_price}}</td>
                <td class="text-center"><button class="btn btn-primary"><i class="fa-solid fa-folder-open"></i></button></td>
                <!-- <td><button class="btn" (click)="confirmDeactivate(item)"><i
                            class="bi bi-trash-fill"></i></button>
                </td> -->
            </tr>
        </tbody>
    </table>