<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-success nb-color-primary" [routerLink]="['/home']">Inicio</a></li>
                    <li class="breadcrumb-item"><a class="link-success nb-color-primary" [routerLink]="['/listtreatments']">Listar Tratamientos</a></li>
                    <li class="breadcrumb-item active">Editar Tratamiento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card">

    <div class="card-header">Modificar tratamiento: <b>{{actualTreat.name}}</b></div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4"></div>
            <div class="col-sm-12 col-md-4"></div>
            <div class="col-sm-12 col-md-4"></div>
        </div>
        <div class="container mt-5">
            <!-- <div *ngIf="messageG != ''" class="alert alert-success"><i class="fa-solid fa-heart-circle-check"></i> {{messageG}}</div>
            <div *ngIf="messageB != ''" class="alert alert-danger"><i class="fa-solid fa-heart-circle-exclamation"></i> {{messageB}}</div> -->

            <form [formGroup]="updateTreatmentForm" enctype="multipart/form-data">
                <!-- Inputs -->
                <div class="row mb-3">
                    <!-- Name field -->
                    <div class="mb-3 col-12">
                        <label class="form-label fw-bold">Nombre *</label>
                        <input type="text" formControlName="name" class="form-control" required>
                        <label class="text-danger mt-1"
                            *ngIf="updateTreatmentForm.get('name')?.errors?.['required'] && updateTreatmentForm.get('name')?.touched">Nombre
                            requerido
                        </label>
                    </div>
                    <!-- Description field -->
                    <div class="mb-3 col-12">
                        <label class="form-label fw-bold">Descripción del tratamiento</label>
                        <textarea name="des" class="form-control" placeholder="Escribe aquí..." formControlName="desc"
                            style="height: 100px"></textarea>
                    </div>
                    <!-- Price field -->
                    <div class="mb-3 col-2">
                        <label class="form-label fw-bold">Precio (€) *</label>
                        <input type="number" step="0.01" formControlName="price" class="form-control" required>
                        <label class="text-danger mt-1"
                            *ngIf="updateTreatmentForm.get('price')?.errors?.['required'] && updateTreatmentForm.get('price')?.touched">Precio
                            requerido
                        </label>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="row text-center mt-5">
                    <div class="col-4"></div>
                    <button type="button" class="btn btn-lg col-4" [disabled]="updateTreatmentForm.invalid"
                        (click)="updateTreatment()">Modificar tratamiento</button>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>

    </div>
</div>