thead,
button {
    background-color: rgb(36, 157, 171);
    color: #f8f9fa;
}

table {
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(36, 157, 171);
}

.nb-color-primary {
    color: rgb(36, 157, 171);
}

.nb-color-primary:hover {
    color: rgb(32, 136, 148);
}