<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"
    integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<main class="d-flex min-vh-100 overflow-hidden">
    <div *ngIf="data != '/login'" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark nb"
        style="width: 280px;" [ngClass]="status ? 'show' : 'hide'">
        <a [routerLink]="['/home']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <img src="assets/images/logo3.png">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto text-white">
            <li class="nav-item">
                <a [routerLink]="['/home']" class="nav-link text-white" routerLinkActive="active" aria-current="page">
                    <i class="fa-solid fa-house-medical"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="listpatient" class="nav-link text-white" routerLinkActive="active">
                    <i class="fa-solid fa-users"></i> Pacientes
                </a>
            </li>
            <li>
                <a routerLink="regvisit" class="nav-link text-white" routerLinkActive="active">
                    <i class="fas fa-light fa-file-medical"></i> Añadir Visita
                </a>
            </li>
            <li>
                <a routerLink="listvisits" class="nav-link text-white" routerLinkActive="active">
                    <i class="fa-solid fa-file-medical"></i> Listar Visitas
                </a>
            </li>
            <li>
                <a routerLink="listtreatments" class="nav-link text-white" routerLinkActive="active">
                    <i class="fa-solid fa-heart"></i> Tratamientos
                </a>
            </li>

            <li>
                <a [routerLink]="['/quarterlyreport']" routerLinkActive="active" class="nav-link text-white">
                    <i class="fa-solid fa-file-invoice-dollar"></i> Listar Facturas & Envío
                </a>
            </li>
            <li *ngIf="user && user.role == 'admin'">
                <a routerLink="listworkers" class="nav-link text-white" routerLinkActive="active">
                    <i class="fa-solid fa-user-doctor"></i> Staff
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle ps-3" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <strong *ngIf="user">{{ user.first_name }} {{ user.last_name }}</strong>
            </a>
            <small *ngIf="user" class="ps-3 text-capitalize">{{ user.role }}</small>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" (click)="logout();">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div *ngIf="data != '/login'" class="container-fluid nb mb-3">
            <header class="d-flex align-items-center justify-space-between py-2">
                <button class="btn btn-lg" (click)="clickEvent()"><i class="bi bi-list text-white"></i></button>
            </header>
        </div>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
