<div class="row vh-100">
  <div class="col bg-light d-flex flex-column justify-content-center align-items-center">
    <form [formGroup]="loginForm" class="w-75" action="#">
      <a [routerLink]="['/home']"><img class="mx-auto pb-5" src="assets/images/logo.png" width="270"></a>
      <p class="align-self-start">¡Bienvenido de nuevo!
      </p>
      <h1 class="align-self-start">Ingrese a su cuenta
      </h1>
      <br>
      <div class="mb-3">
        <label class="form-label">Correo electrónico
        </label>
        <input type="email" value="Juan@gmail.com" class="form-control" id="email" placeholder="example@gmail.com"
          formControlName="email" required>
        <label class="text-danger mt-1"
          *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.dirty">Email
          requerido</label>
        <label class="text-danger mt-1"
          *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.dirty">Email no
          válido</label>
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="*********"
          required>
        <label class="text-danger mt-1"
          *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.dirty">Password
          requerido</label>
      </div>

      <div *ngIf="message" class="mb-3 text-danger">{{message}}</div>

      <button type="button" [disabled]="loginForm.invalid" (click)="login()" class="btn nb text-white mt-3">Iniciar
        sesión</button>
    </form>
  </div>
  <div class="col d-none d-md-flex login nbbg">

  </div>
</div>
