<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="link-success nb-color-primary" [routerLink]="['/home']"><i
                class="fa-solid fa-house-medical"></i></a></li>
          <li class="breadcrumb-item active">Añadir Visita</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="card">

  <div class="card-header">Añadir Visita</div>
  <div class="card-body">
    <div class="row">
      <!-- CheckType -->
      <div *ngIf="!patientExist" class="col-sm-12 col-md-12 mt-5">
        <div class="row mb-3">
          <div class="col-4">
            <form [formGroup]="checkTypeForm">
              <div class="input-group mb-3">
                <label class="input-group-text fw-bold" for="checkTp">Método de validación *</label>
                <select class="form-select" id="checkTp" formControlName="checkType">
                  <option value="">Selecciona un método</option>
                  <option value="dni">DNI</option>
                  <option value="name">Nombre completo</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Checktype search input -->
      <div class="col-sm-12 col-md-12">
        <!-- DNI -->
        <div *ngIf="!patientExist && checkTypeForm.value.checkType == 'dni'" class="row mb-3">
          <div class="col-4">
            <form [formGroup]="validatePatientFormDni">
              <div class="input-group mb-3">
                <label class="input-group-text fw-bold" for="checkDni">NIF/NIE del paciente *</label>
                <input type="text" id="checkDni" formControlName="dni" class="form-control" required><br>
              </div>
              <div *ngIf="validatePatientFormDni.get('dni')?.touched" class="text-danger mt-1 ms-1">
                <div *ngIf="validatePatientFormDni.get('dni')?.errors?.['required']">NIF/NIE es
                  obligatorio.
                </div>
                <div class="field-message" *ngIf="validatePatientFormDni.get('dni')?.errors?.['correctDni']">
                  Formato de NIF/NIE incorrecto.
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Full Name -->
        <div *ngIf="!patientExist && checkTypeForm.value.checkType == 'name'" class="row mb-3">
          <div class="col-4">
            <form [formGroup]="validatePatientFormName">
              <div class="input-group mb-3">
                <label class="input-group-text fw-bold" for="checkName">Nombre del paciente
                  *</label>
                <input type="text" id="checkName" formControlName="name" class="form-control" required>
              </div>
              <label class="text-danger mt-1 ms-1"
                *ngIf="validatePatientFormName.get('name')?.errors?.['required'] && validatePatientFormName.get('name')?.touched">Nombre
                requerido
              </label>
            </form>
          </div>
          <div class="col-4">
            <form [formGroup]="validatePatientFormName">
              <div class="input-group mb-3">
                <label class="input-group-text fw-bold" for="checkSurname">Apellidos del
                  paciente *</label>
                <input type="text" id="checkSurname" formControlName="surname" class="form-control" required>
              </div>
              <label class="text-danger mt-1 ms-1"
                *ngIf="validatePatientFormName.get('surname')?.errors?.['required'] && validatePatientFormName.get('surname')?.touched">Apellido
                requerido
              </label>
            </form>
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="col-sm-12 col-md-4">
        <div *ngIf="!patientExist && checkTypeForm.value.checkType == 'dni'" class="row text-center">
          <!-- <button type="button" class="btn nb-color-primary col-3 ms-2" [disabled]="validatePatientFormDni.invalid"
            (click)="checkPatientDni()">Buscar Paciente</button> -->
            <a class="link-success nb-color-primary">
              <button type="button" class="btn col-12" [disabled]="validatePatientFormDni.invalid" (click)="checkPatientDni()">
                Buscar Paciente
              </button>
            </a>
        </div>
        <div *ngIf="!patientExist && checkTypeForm.value.checkType == 'name'" class="row text-center">
          <!-- <button type="button" class="btn nb-color-primary col-3 ms-2" [disabled]="validatePatientFormName.invalid"
            (click)="checkPatientName()">Buscar
            Paciente</button> -->
            <a class="link-success nb-color-primary">
              <button type="button" class="btn col-12" [disabled]="validatePatientFormName.invalid" (click)="checkPatientName()">
                Buscar Paciente
              </button>
            </a>
        </div>
      </div>

      <!-- REGISTER FORM -->
      <div *ngIf="patientExist" class="container mt-5">
        <div class="row">
          <!-- Form -->
          <div class="col-6">
            <form [formGroup]="registerVisitForm" enctype="multipart/form-data">
              <!-- Inputs -->
              <div class="row mb-3">
                <!-- CH Number field -->
                <div class="mb-3 col-6">
                  <label class="form-label fw-bold">Nº del historial clínico *</label>
                  <input type="text" formControlName="id" class="form-control" readonly>
                  <label class="text-danger mt-1"
                    *ngIf="registerVisitForm.get('id')?.errors?.['required'] && registerVisitForm.get('id')?.touched">Nº
                    del historial
                    requerido
                  </label>
                </div>
                <!-- DNI field -->
                <div class="mb-3 col-6">
                  <label class="form-label fw-bold">NIF/NIE *</label>
                  <input type="text" formControlName="dni" class="form-control" readonly>
                  <div *ngIf="registerVisitForm.get('dni')?.touched" class="text-danger mt-1">
                    <div *ngIf="registerVisitForm.get('dni')?.errors?.['required']">NIF/NIE es
                      obligatorio.
                    </div>
                    <div class="field-message" *ngIf="registerVisitForm.get('dni')?.errors?.['correctDni']">
                      Formato de NIF/NIE incorrecto.
                    </div>
                  </div>
                </div>
                <!-- Name field -->
                <div class="mb-3 col-6">
                  <label class="form-label fw-bold">Nombre *</label>
                  <input type="text" formControlName="name" class="form-control" readonly>
                  <label class="text-danger mt-1"
                    *ngIf="registerVisitForm.get('name')?.errors?.['required'] && registerVisitForm.get('name')?.touched">Nombre
                    requerido
                  </label>
                </div>
                <!-- Surnames field -->
                <div class="mb-3 col-6">
                  <label class="form-label fw-bold">Apellidos *</label>
                  <input type="text" formControlName="surnames" class="form-control" readonly>
                  <label class="text-danger mt-1"
                    *ngIf="registerVisitForm.get('surnames')?.errors?.['required'] && registerVisitForm.get('surnames')?.touched">Apellidos
                    requerido
                  </label>
                </div>
                <!-- Visit date field -->
                <div class="mb-3 col-6">
                  <label class="form-label fw-bold">Fecha de la visita *</label>
                  <input type="date" formControlName="date" class="form-control" readonly>
                  <label class="text-danger mt-1"
                    *ngIf="registerVisitForm.get('date')?.errors?.['required'] && registerVisitForm.get('date')?.touched">Fecha
                    requerida
                  </label>
                </div>
                <!-- Treatment field -->
                <div class="mb-3 col-6">
                  <label class="form-label fw-bold">Tratamiento *</label>
                  <div>
                    <ng-multiselect-dropdown [placeholder]="'Seleccionar tratamientos'"
                      [settings]="selectTreatmentsOptions" [data]="listTreatments" formControlName="treat"
                      (onSelect)="onItemSelect()" (onSelectAll)="onSelectAll()" (onDeSelect)="onItemSelect()">
                    </ng-multiselect-dropdown>
                    <label class="text-danger mt-1"
                      *ngIf="registerVisitForm.get('treat')?.errors?.['required'] && registerVisitForm.get('treat')?.touched">Tratamiento
                      requerido
                    </label>
                  </div>
                </div>
                <!-- Description field -->
                <div class="mb-3 col-12">
                  <label class="form-label fw-bold">Descripción de la visita</label>
                  <textarea name="des" class="form-control" placeholder="Escribe aquí..." formControlName="desc"
                    style="height: 100px"></textarea>
                </div>
                <!-- Document field -->
                <div class="mb-3 col-8">
                  <label class="form-label fw-bold">Documento adjunto</label>
                  <input class="form-control" type="file" id="file" formControlName="file" accept="image/*"
                    (change)="selectFile($event)" multiple>
                </div>
              </div>
              <!-- Submit button -->
              <div class="row text-center mt-5">
                <div class="col-4"></div>
                <!-- Button trigger modal -->
                <a class="link-success nb-color-primary">
                  <button type="button" class="btn col-12" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Registrar visita
                  </button>
                </a>
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Registrar visita
                </button> -->
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirmar
                          Facturación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <label class="form-label fw-bold me-2">Marca para realizar Facturación</label>
                        <input class="form-check-input nb-color-primary mt-1" formControlName="facturation" type="checkbox" value=""
                            (change)="checked()" style="margin: 0 auto;">
                        <!-- <div class="form-check display-1">
                          <input class="form-check-input nb-color-primary" formControlName="facturation" type="checkbox" value=""
                            (change)="checked()" style="margin: 0 auto;">
                          <label class="text-danger mt-1"
                            *ngIf="registerVisitForm.get('facturation')?.errors?.['required'] && registerVisitForm.get('facturation')?.touched">Facturacion
                            requerida
                          </label>
                        </div> -->
                      </div>
                      <div class="modal-footer">
                        <a class="link-success nb-color-primary">
                          <button type="button" class="btn col-12" [disabled]="registerVisitForm.invalid"
                            (click)="addVisit()">Registrar Visita</button>
                        </a>
                        <a class="link-success nb-color-primary">
                          <button type="button" class="btn col-12" data-bs-dismiss="modal">Cerrar</button>
                        </a>
                        <!-- <button type="button" class="btn btn-primary" [disabled]="registerVisitForm.invalid"
                          (click)="addVisit()">Registrar Visita</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="col-1"></div>
          <!-- Previous Visits Table -->
          <div class="col-5">
            <h2>Visitas anteriores de {{ visitPatient.first_name }}</h2>
            <table class="table table-bordered table-striped table-hover mt-4 text-center">
              <thead>
                <tr class="text-uppercase">
                  <th>Fecha de visita</th>
                  <th>Descripción de la visita </th>
                  <th>Especialista</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visit of listVisits | paginate: {itemsPerPage: ipp, currentPage: cp}; let i = index">
                  <td>{{ visit.visit_date }}</td>
                  <td>{{ visit.visit_description }}</td>
                  <td>{{ visit.specialist_name }} {{ visit.specialist_lastname }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-end custom-pagination">
              <pagination-controls (pageChange)="cp=$event " nextLabel="" previousLabel="">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
