<nav class="navbar navbar-expand-lg navbar-light bg-light pt-5 pb-4">
   <div class="container-fluid">
      <div class="container">
         <h2>REGISTRO DE VISITA</h2>
      </div>
   </div>
</nav>
<div *ngIf="!patientExist" class="container mt-5">
   <form [formGroup]="validatePatientForm">
      <div class="row mb-3">
         <!-- Patient field -->
         <div class="mb-3 col-3">
            <label class="form-label fw-bold">Introduce DNI del paciente *</label>
            <input type="text" formControlName="dni" class="form-control" required>
            <label class="text-danger mt-1"
               *ngIf="registerVisitForm.get('dni')?.errors?.['required'] && registerVisitForm.get('dni')?.touched">DNI
               requerido
            </label>
         </div>
      </div>
      <div class="row text-center mt-5">
         <button type="button" class="btn btn-primary col-3" [disabled]="validatePatientForm.invalid"
            (click)="checkPatient()">Buscar Paciente</button>
      </div>
   </form>
</div>
<div *ngIf="patientExist" class="container mt-5">
   <div class="row">
      <form [formGroup]="registerVisitForm">
         <!-- Text inputs -->
         <div class="row mb-3">
            <!-- CH Number field -->
            <div class="mb-3 col-3">
               <label class="form-label fw-bold">Nº del historial clínico *</label>
               <input type="text" formControlName="numHis" class="form-control" required>
               <label class="text-danger mt-1"
                  *ngIf="registerVisitForm.get('numHis')?.errors?.['required'] && registerVisitForm.get('numHis')?.touched">Nº
                  del historial clínico
                  requerido
               </label>
            </div>
            <!-- SS Number field -->
            <div class="mb-3 col-3">
               <label class="form-label fw-bold">Nº de la seguridad social *</label>
               <input type="text" formControlName="numSeg" class="form-control" required>
               <label class="text-danger mt-1"
                  *ngIf="registerVisitForm.get('numSeg')?.errors?.['required'] && registerVisitForm.get('numSeg')?.touched">Nº
                  de la seguridad social
                  requerido
               </label>
            </div>
            <!-- Name field -->
            <div class="mb-3 col-3">
               <label class="form-label fw-bold">Nombre *</label>
               <input type="text" formControlName="name" class="form-control" required>
               <label class="text-danger mt-1"
                  *ngIf="registerVisitForm.get('name')?.errors?.['required'] && registerVisitForm.get('name')?.touched">Nombre
                  requerido
               </label>
            </div>
            <!-- Surnames field -->
            <div class="mb-3 col-3">
               <label class="form-label fw-bold">Apellidos *</label>
               <input type="text" formControlName="surnames" class="form-control" required>
               <label class="text-danger mt-1"
                  *ngIf="registerVisitForm.get('surnames')?.errors?.['required'] && registerVisitForm.get('surnames')?.touched">Apellidos
                  requerido
               </label>
            </div>
         </div>
         <!-- Date & Select inputs -->
         <div class="row mb-3">
            <!-- Visit date field -->
            <div class="mb-3 col-3">
               <label class="form-label fw-bold">Fecha de la visita *</label>
               <input type="date" formControlName="date" class="form-control" required>
               <label class="text-danger mt-1"
                  *ngIf="registerVisitForm.get('date')?.errors?.['required'] && registerVisitForm.get('date')?.touched">Fecha
                  requerida
               </label>
            </div>
            <!-- Treatment field -->
            <div class="mb-3 col-3">
               <label class="form-label fw-bold">Tratamiento *</label>
               <!-- <select class="form-select" formControlName="treat" aria-label="Default select example" required>
                  <option *ngFor="let t of listTreatments" value={{t.name}}>{{t.name}}</option>
               </select>
               <label class="text-danger mt-1"
                  *ngIf="registerVisitForm.get('treat')?.errors?.['required'] && registerVisitForm.get('treat')?.touched">Tratamiento
                  requerida
               </label> -->
               <div>
                  <ng-multiselect-dropdown [placeholder]="'Seleccionar tratamientos'"
                     [settings]="selectTreatmentsOptions" [data]="listTreatments">
                  </ng-multiselect-dropdown>
                  <label class="text-danger mt-1"
                     *ngIf="registerVisitForm.get('treat')?.errors?.['required'] && registerVisitForm.get('treat')?.touched">Tratamiento
                     requerida
                  </label>
               </div>
            </div>
         </div>
         <!-- Textarea inputs -->
         <div class="row mb-3">
            <!-- Recommendations field -->
            <div class="mb-3 col-6">
               <label class="form-label fw-bold">Recomendaciones</label>
               <textarea name="reco" class="form-control" placeholder="Escribe aquí..."
                  style="height: 100px"></textarea>
            </div>
            <!-- Description field -->
            <div class="mb-3 col-6">
               <label class="form-label fw-bold">Descripción de la visita</label>
               <textarea name="des" class="form-control" placeholder="Escribe aquí..." style="height: 100px"></textarea>
            </div>
            {{desc}}
         </div>
         <!-- File input -->
         <div class="row mb-3">
            <div class="mb-3 col-6">
               <label class="form-label fw-bold">Documento adjunto</label>
               <input class="form-control" type="file" id="file">
            </div>
         </div>
         <!-- Submit button -->
         <div class="row text-center mt-5">
            <div class="col-4"></div>
            <button type="button" class="btn btn-primary btn-lg col-4" [disabled]="registerVisitForm.invalid"
               (click)="addVisit()">Registrar visita</button>
            <div class="col-4"></div>
         </div>
      </form>
   </div>
</div>

