<nav class="navbar navbar-expand-lg navbar-light bg-light pt-5 pb-4">
    <div class="container-fluid">
        <div class="container">
            <h2>MODIFICAR PACIENTE</h2>
        </div>
    </div>
</nav>
<div class="mt-5">
    <div class="row">
        <form [formGroup]="newUserDetails" method="post" (ngSubmit)="emitInfoModifyUser()">
            <!-- Text inputs -->
            <div class="row mb-3">
                <div class="mb-3 col-4 form-group">
                    <label for="num_clinical_log" class="form-label">Nº del historial clínico</label>
                    <input type="text" class="form-control" formControlName="num_clinical_log" readonly>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="register_date" class="form-label">Fecha de registro</label>
                    <input type="text" name="register_date" class="form-control" formControlName="register_date" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-3 form-group">
                    <label for="center_code" class="form-label">Código del centro</label>
                    <input type="text" name="center_code" class="form-control" formControlName="center_code">
                    <div *ngIf="newUserDetailsFormControl['center_code'].touched && newUserDetailsFormControl['center_code'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['center_code'].errors?.['required']">Código del centro es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-3 form-group">
                    <label for="ss_CIP" class="form-label">CIP</label>
                    <input type="text" name="ss_CIP" class="form-control" formControlName="ss_CIP">
                    <div *ngIf="newUserDetailsFormControl['ss_CIP'].touched && newUserDetailsFormControl['ss_CIP'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['ss_CIP'].errors?.['required']">CIP es obligatorio.</div>
                        <div *ngIf="newUserDetailsFormControl['ss_CIP'].errors?.['maxlength']">Máximo 14 carácteres.</div>
                        <div *ngIf="newUserDetailsFormControl['ss_CIP'].errors?.['pattern']">Sólo se aceptan letras en mayúscula y números. Debe contener 14 carácteres.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-3 form-group">
                    <label for="diabetic" id="diabetic"> Diabética/o</label><br><br>
                    <input type="checkbox" formControlName="diabetic" id="diabeticCheckbox" aria-labelledby="check1">
                </div>
                <div class="mb-3 col-3 form-group">
                    <label for="active" id="active"> Activada/o </label><br><br>
                    <input type="checkbox" formControlName="active" id="activeCheckbox" aria-labelledby="check2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-4 form-group">
                    <label for="first_name" class="form-label">Nombre</label>
                    <input type="text" name="first_name" class="form-control" formControlName="first_name">
                    <div *ngIf="newUserDetailsFormControl['first_name'].touched && newUserDetailsFormControl['first_name'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['first_name'].errors?.['required']">El nombre es obligatorio.</div>
                        <div *ngIf="newUserDetailsFormControl['first_name'].errors?.['minlength']">Mínimo 2 carácteres.</div>
                        <div *ngIf="newUserDetailsFormControl['first_name'].errors?.['pattern']">Sólo se aceptan letras y espacios
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="last_name" class="form-label">Apellidos</label>
                    <input type="text" name="last_name" class="form-control" formControlName="last_name">
                    <div *ngIf="newUserDetailsFormControl['last_name'].touched && newUserDetailsFormControl['last_name'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['last_name'].errors?.['required']">El apellido es obligatorio.</div>
                        <div *ngIf="newUserDetailsFormControl['last_name'].errors?.['minlength']">Mínimo 2 carácteres.</div>
                        <div *ngIf="newUserDetailsFormControl['last_name'].errors?.['pattern']">Sólo se aceptan letras y espacios
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" formControlName="email">
                    <div *ngIf="newUserDetailsFormControl['email'].touched && newUserDetailsFormControl['email'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['email'].errors?.['required']">Email es obligatorio.</div>
                        <div *ngIf="newUserDetailsFormControl['email'].errors?.['email']">Introduzca una dirección de email válida.
                        </div>
                        <div *ngIf="newUserDetailsFormControl['email'].errors?.['pattern']">Formato incorrecto.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3 col-4 form-group">
                    <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                    <input type="date" name="birthdate" class="form-control" formControlName="birthdate" [max]="today">
                    <div *ngIf="newUserDetailsFormControl['birthdate'].touched && newUserDetailsFormControl['birthdate'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['birthdate'].errors?.['required']">Fecha de nacimiento es obligatoria.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="dni" class="form-label">NIF/NIE</label>
                    <input type="text" name="dni" class="form-control" formControlName="dni">
                    <div *ngIf="newUserDetailsFormControl['dni'].touched && newUserDetailsFormControl['dni'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['dni'].errors?.['required']">NIF/NIE es obligatorio.</div>
                        <div class="field-message" *ngIf="newUserDetailsFormControl['dni'].errors?.['correctDni']">
                            Formato de NIF/NIE incorrecto.
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="text" name="phone" class="form-control" formControlName="phone">
                    <div *ngIf="newUserDetailsFormControl['phone'].touched && newUserDetailsFormControl['phone'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['phone'].errors?.['required']">Teléfono es obligatorio.</div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="mb-3 col-4 form-group">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" name="address" class="form-control" formControlName="address">
                    <div *ngIf="newUserDetailsFormControl['address'].touched && newUserDetailsFormControl['address'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['address'].errors?.['required']">Dirección es obligatoria.</div>
                    </div>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="city" class="form-label">Ciudad</label>
                    <input type="text" name="city" class="form-control" formControlName="city">
                    <div *ngIf="newUserDetailsFormControl['city'].touched && newUserDetailsFormControl['city'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['city'].errors?.['required']">Ciudad es obligatoria.</div>
                    </div>
                </div>
                <div class="mb-3 col-4 form-group">
                    <label for="postal_code" class="form-label">Código Postal</label>
                    <input type="text" name="postal_code" class="form-control" formControlName="postal_code">
                    <div *ngIf="newUserDetailsFormControl['postal_code'].touched && newUserDetailsFormControl['postal_code'].invalid" class="text-danger">
                        <div *ngIf="newUserDetailsFormControl['postal_code'].errors?.['required']">Código postal es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Textarea inputs -->
            <div class="row mb-3">

                <div class="mb-3 col-12 form-group">
                    <label for="previous_pathologies" class="form-label">Antecedentes personales</label>
                    <textarea class="form-control" formControlName="previous_pathologies" name="previous_pathologies" placeholder="
          Alergias a medicamentos, enfermedades destacadas, cirugias importantes, medicación actual"></textarea>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row text-center">
                <div class="col-4"></div>
                <button type="submit" class="btn btn-primary btn-lg col-4" (click)="emitInfoModifyUser()">Modificar
          paciente</button>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
    <br>
</div>