<div id="invoice" class="container">
  <div *ngIf="invoice" style="width: 750px" class="mx-auto">
    <div class="d-flex justify-content-center mb-5">
      <img src="assets/images/logo-imprimir.jpg" height="130px" class="img-responsive">
    </div>

    <div class="row mt-5">
      <div class="col-xl-12">
        <ul class="list-unstyled float-start">
          <li>{{ invoice[0].first_name }} {{ invoice[0].last_name }}</li>
          <li>DNI. {{ invoice[0].dni }} Núm Col. {{ invoice[0].collegiate_num }}</li>
          <li>C. CHAFARINAS 14-16 BAJOS LOCAL.</li>
          <li>08033 BARCELONA</li>
          <li>TELF. 93 353 41 42</li>
        </ul>
      </div>
    </div>


    <div class="row mt-5 mb-3" style="border:1pt solid black;">
      <div class="col-12">
        RECIBO DE: {{ invoice[1].first_name }} {{ invoice[1].last_name }}
      </div>
    </div>

    <div class="row mb-3" style="border:1pt solid black;">
      <div class="col-12" style="border-left:1pt solid black;">
        FECHA: {{ invoice[0].invoice_date  | date: 'dd/MM/yyyy' }}
      </div>
    </div>

    <div class="row">
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <th scope="col">CANTIDAD</th>
            <th scope="col">TRATAMIENTO</th>
            <th scope="col">PRECIO</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="height:500px !important;">{{ invoice[0].quantity }}</td>
            <td>{{ invoice[0].name }}</td>
            <td>{{ invoice[0].price }} €</td>
            <td>{{ invoice[0].total_price }} €</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="col">FORMA DE PAGO</th>
            <td scope="col" class="text-capitalize">{{ invoice[0].payment_type }}</td>
            <th scope="col">TOTAL</th>
            <td scope="col">{{ invoice[0].total_price }} €</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="container">
  <button class="btn btn-success" (click)="download()">Descargar Recibo</button>
</div>
